    /*
    Flaticon icon font: Flaticon
    Creation date: 14/11/2018 13:00
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-edit:before { content: "\f100"; }
.flaticon-play-button:before { content: "\f101"; }
.flaticon-download-arrow:before { content: "\f102"; }
.flaticon-like:before { content: "\f103"; }
.flaticon-chat:before { content: "\f104"; }
.flaticon-chat-1:before { content: "\f105"; }
.flaticon-game-controller:before { content: "\f106"; }
.flaticon-television:before { content: "\f107"; }
.flaticon-exit:before { content: "\f108"; }
.flaticon-magnifying-glass:before { content: "\f109"; }
.flaticon-round-arrow:before { content: "\f10a"; }
.flaticon-error:before { content: "\f10b"; }
.flaticon-dustbin:before { content: "\f10c"; }
.flaticon-film:before { content: "\f10d"; }
    
    $font-Flaticon-edit: "\f100";
    $font-Flaticon-play-button: "\f101";
    $font-Flaticon-download-arrow: "\f102";
    $font-Flaticon-like: "\f103";
    $font-Flaticon-chat: "\f104";
    $font-Flaticon-chat-1: "\f105";
    $font-Flaticon-game-controller: "\f106";
    $font-Flaticon-television: "\f107";
    $font-Flaticon-exit: "\f108";
    $font-Flaticon-magnifying-glass: "\f109";
    $font-Flaticon-round-arrow: "\f10a";
    $font-Flaticon-error: "\f10b";
    $font-Flaticon-dustbin: "\f10c";
    $font-Flaticon-film: "\f10d";