@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
@import 'reset'
@import 'variables'
@import '../../components/ui/navbar/style'
@import '../../components/ui/slideshow/style'


/// global style